/__pycache__
*.png
*.ps
*.pdf
*.ipynb
*.npy
*.pfd
*.pfd.bestprof
*.sif
/FAST_P_1
/FAST_P_2
/fits_test
/GBNCC_NP_1
/GBNCC_NP_2
/GBNCC_P_1
/GBNCC_P_2
/LOWLAT_NP_1
/LOWLAT_NP_2
/LOWLAT_P_1
/LOWLAT_P_2
/PALFA_NP_1
/PALFA_NP_2
/PALFA_P_1
/PALFA_P_2
/test3
/Zero_DM_tests